Options -Indexes

DirectoryIndex index.php

AddDefaultCharset UTF-8

<Files "content.html">
Require all granted
</Files>

<Files "admin.php">
Require all denied
</Files>

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php [L]

</IfModule>
