*{
    animation:none !important;
    transition:none !important;
    transform:none !important;
}

body{
    background:#fff !important;

    color:#000 !important;

    font-family:
    Arial,
    sans-serif !important;
}

.aurora,
#cursor-glow{
    display:none !important;
}

.glass{

    background: #fff !important;

    border:
    1px solid #000 !important;

    box-shadow:none !important;

    backdrop-filter:none !important;
}

.hero h1,
h2,
h3{
    color:#000 !important;
}

.button,
button{

    background:#000 !important;
    color:#fff !important;
}

input,
textarea{

    background:#fff !important;

    color:#000 !important;

    border:
    1px solid #000 !important;
}

a{

    color:#0055*f !important;

    text-decoration:underline !important;
}

.image-slider,
.news-image,
.gallery-item,
.hero-image{

    border:
    2px solid #000 !important;
}

footer{

    border-top:
    1px solid #000;
}
